configuration (  
        master_exec_path = "/softs/synopsys/icv/V-2023.12/bin/LINUX64_L31el/icv_manager",
        slave_exec_path = "/softs/synopsys/icv/V-2023.12/bin/LINUX64_L31el/icv_worker",
        engine_exec_path = "/softs/synopsys/icv/V-2023.12/bin/LINUX64_L31el/icv_engine",
        working_directory = "/scratch/schiavon/FC_Labs/FC_Labs/labs/lab9_signoff/work/signoff_fix_drc_run/signoff_check_drc_run",
        run_details_directory = "/scratch/schiavon/FC_Labs/FC_Labs/labs/lab9_signoff/work/signoff_fix_drc_run/signoff_check_drc_run/run_details",
        group_directory = "/scratch/schiavon/FC_Labs/FC_Labs/labs/lab9_signoff/work/signoff_fix_drc_run/signoff_check_drc_run/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { tclsrv3.epfl.ch, ""},
                 { tclsrv3.epfl.ch, ""},
                 }
);
