*.log
*.txt
*.jou

Project_Files/RadioAstro_HW_Vivado
Project_Files/RadioAstro_HW_Vivado_ACP
Project_Files/RadioAstro_HW_Vivado_ACP_DOUBLE_AXI
Project_Files/RadioAstro_HW_Vivado_ACP_INTERRUPT
Project_Files/RadioAstro_HW_Vivado_ACP_DOUBLE_AXI_INTERRUPT
Project_Files/RadioAstro_HW_Vivado_DOUBLE_AXI
Project_Files/RadioAstro_HW_Vivado_DOUBLE_AXI_INTERRUPT

**/NA/

Project_Files/RadioAstro_HW_HLS/*
!Project_Files/RadioAstro_HW_HLS/solution1/
Project_Files/RadioAstro_HW_HLS/solution1/*
!Project_Files/RadioAstro_HW_HLS/solution1/directives.tcl
!Project_Files/RadioAstro_HW_HLS/solution1/script.tcl

**/IP-catalog/*
!**/IP-catalog/*.zip

**/adc_bit.bit
